:root {
    --div-back:#fffd37;
}

* {
    background:#38ff37;

}
main {
    display: flex;
    border: 1px solid black;
}

header {
    text-align: center;
    font-size: larger;
    /* background-image: url("images/beach.webp"); */
    background-color: azure;

}

#action {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: blue;
    color: white;
    padding: 5px;
}

nav,
nav a {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    margin: 10px 200px 10px 10 px;
    border: 1px solid black;
    background-color: var(--div-back);
    text-align: center;
    font-size: larger;
}

.rentals {
    border: 1px solid black;
    background-color: var(--div-back);
    padding: 2rem;
    height: 350px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.rentals h2,
.rentals h3 {
    text-align: center;
    background-color: white;
}

.show {
    border: 1px solid black;
    padding: 5px;
    background: white;
}

.weather {
    border: 1px solid black;
    background-color: var(--div-back);

}

.weather p {
    padding: 50px;
    background-color: var(--div-back);

}

footer {
    display: flex;
    flex-direction: row;
}