@import url('https://fonts.google.com/specimen/Playfair+Display');

:root {
    --prim-background: #7fffd4;
    --accent: rgba(127, 255, 212, 0.3);
    --text-color: rgb(58, 49, 49);

    --heading-font: 'Playfair Display', serif;
    --para-font: 'Playfair Display', sans-serif;

}  
* {
    background-color: var(--accent);
}

main {
    background: var(--prim-background);
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    background: var(--prim-background);
    border: 1px solid black;
    margin: 2rem;
}
h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--text-color);
}

header {
    display: block;
    /* padding: 2rem; */
    text-align: center;
    background: var(--prim-background);
    font-size: 5em;
    border: 1rem solid black;
}
h1 {
    font-size: 4rem;
}

p {
    font-family: var(--para-font);
    color: var(--text-color);
    padding: 1rem;
}

.hero {
    /* margin-right: 5rem;
    margin-left: 5rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
}

footer {
    background: var(--prim-background);
    text-align: center;
}
@media (max-width: 600px) {
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background: var(--prim-background);
        margin: 0 ;
        text-align: center;
        text-decoration: none;
        color: var(--text-color);
        padding: 1rem;
        border: 1px solid black;
    }
    
    #menu {
        font-size: 1.3rem;
        border: 1px solid black;
        padding: 1%;
        background: var(--prim-background);
        color: black;
        position: fixed;
        top: 3rem;
        right: 2rem;
        text-decoration: none;
    }
    
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❌";
    }
    
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    
    nav a:hover {
        background-color: rgb(209, 209, 240);
    }

    .open a {
        display: block;
    }
    
    /* wayfinding */
    .active::before {
        content: "🔹";
    }
    
    }