@import url('https://fonts.google.com/specimen/Playfair+Display');

:root {
    --prim-background: #7fffd4;
    --accent: rgba(127, 255, 212, 0.3);
    --text-color: rgb(58, 49, 49);

    --heading-font: 'Playfair Display', serif;
    --para-font: 'Playfair Display', sans-serif;

}  
* {
    background-color: var(--accent);
}

main {
    background: (--prim-background);
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Dark mode slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--accent);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: aquamarine;
}

input:focus + .slider {
    box-shadow: 0 0 1px aquamarine;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 26px;
}

.slider.round:before {
    border-radius: 50%;
}

section {
    background: var(--prim-background);
    border: 1px solid black;
    margin: 2rem;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--text-color);
}

header {
    display: block;
    padding: 2rem;
    text-align: center;
    background: var(--prim-background);
    font-size: 60px;
    border: 1rem solid black;
}

p {
    font-family: var(--para-font);
    color: var(--text-color);
    padding: 1 rem;
}

.hero {
    /* margin-right: 5rem;
    margin-left: 5rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
}

footer {
    background: var(--prim-background);
    text-align: center;
}
@media (max-width: 600px) {
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background: var(--prim-background);
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        color: var(--text-color);
        padding: 1rem;
        border: 1px solid black;
    }
    
    #menu {
        font-size: 1.3rem;
        border: 1 px solid black;
        padding: 5px;
        background: white;
        color: black;
        position: fixed;
        top: 5rem;
        right: 5rem;
        text-decoration: none;
    }
    
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❌";
    }
    
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    
    nav a:hover {
        background-color: rgb(209, 209, 240);
    }

    .open a {
        display: block;
    }
    
    /* wayfinding */
    .active::before {
        content: "🔹";
    }
    
    }