
:root {
    --prim-background: #7fffd4;
    --accent: rgba(127, 255, 212, 0.3);
    --text-color: rgb(58, 49, 49);
    --accent2: rgb(214, 142, 93);
    --heading-font: 'Playfair Display', serif;
    --para-font: 'Playfair Display', sans-serif;
    --text: #008bee;
    --background: #eee;
    --border: rgb(113, 112, 112);

}  
* {
    background-color: var(--accent);
    margin: 0;
}

main {
    background: var(--accent);
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.discover {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 0;
}

#info {
    border: 1px solid black;
    padding-left: 1rem;
    grid-column: 1/2;
    text-align: left;
}
ul.discover, p.discover {
    padding: 2rem;
}
#images {
    grid-column: 2/3;
}
section {
    background: var(--prim-background);
    border: 1px solid black;
    margin: 2rem;
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--text-color);
}

header {
    display: block;
    padding: 2rem;
    text-align: center;
    background: var(--prim-background);
    font-size: 5em;
    border: 1rem solid black;
    width: auto;
}

.menu {
    margin: 1rem auto;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: var(--accent2);
    text-align: center;
    max-width: 400px;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*repeat(auto-fit, minmax(200px, 1fr)); */
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
    width: 100%;
    height: auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

section {
    background-color: aquamarine;
    border: 1px solid black;
    margin: .2rem;
    padding: .3rem;
    min-width: 320px;
}

section image {
    align-items: center;
}
h1 {
    font-size: 4rem;
}

p {
    font-family: var(--para-font);
    color: var(--text-color);
    padding: 1rem;
}

.hero {
    grid-column: 1/4;
    position: relative;
    border: 1px ridge rgb(0, 0, 0);
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Playfair Display, serif;
}

iframe {
    width: 450px; 
    height: 300px;     
}

footer {
    background: var(--prim-background);
    text-align: center;
}
.joinForm fieldset {
       grid-column: 1/2;
}
.joinForm form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}

.join {
    grid-column: 1/3;

}

 .joinForm section {
    grid-column: 2/3;
}
.joinForm label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.joinForm div {
    padding-top: 1rem;
    color: var(--text);
    font-size: .9rem;
}

.joinForm input[type="text"],
.joinForm input[type="password"],
.joinForm input[type="email"],
.joinForm input[type="tel"],
.joinForm textarea {
    display: block;
    border: solid 1px var(--border);
    border-radius: 6px;
    background-color: var(--background);
    padding: .75rem;
    width: 100%;
    max-width: 300px;
}

.joinForm input[type=submit] {
    background-image: linear-gradient(blue, rgb(119, 119, 244));
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 300px;
    margin: -1rem 2% 2rem 2%;
}

.joinForm input:required {
    border-right: solid 8px red;
}

.joinForm input:required:valid {
    border-right: solid 8px green;
}

div.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.highlight1,
.highlight2 {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}
.highlight1 image {
    
}

@media (max-width: 600px) {
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background: #23fab3;
        margin: 0 ;
        text-align: center;
        text-decoration: none;
        color: var(--text-color);
        padding: 1rem;
        border: 1px solid black;
    }
    
    #menu {
        font-size: 1.3rem;
        border: 1px solid black;
        padding: 1%;
        background: var(--prim-background);
        color: black;
        position: fixed;
        top: 3rem;
        right: 2rem;
        text-decoration: none;
    }
    
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❌";
    }
    
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    
    nav a:hover {
        background-color: rgb(209, 209, 240);
    }

    .open a {
        display: block;
    }
    
    /* wayfinding */
    .active::before {
        content: "🔹";
    }
    
    .herolabel {
    visibility: hidden;}

    .herolabel:after {
    visibility: visible;
    position: absolute;
    top: 10px;
    left: 10px;
    background: radial-gradient(#fff, #8999f6);
    border: 1px ridge rgba(0, 0, 0, .75);
    padding: .75rem;
    opacity: 0.75;
    content: "Week 6 small";
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Playfair Display, serif;
}

main {
    padding: 0;
}
.discover {
    display: flex;
    flex-direction: column;
    width: 100%;
}
}