* {
    box-sizing: border-box;
}

body {
    display: grid;

}

header {
    background: rgb(58, 120, 58);
    text-align: center;
    
}
header img {
    height: 80px;
    width: 80px;
}

main {
    display: grid;
    text-align: center;
    list-style-type: none;
}

ul {
    list-style: none;
}

.card {
    list-style-type: none;
    border-style: outset;
    padding: 1rem;
    margin: 10px;
}

footer {
    text-align: center;
    background: rgb(224, 223, 223)
}


@media (max-width: 600px) {
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: rgb(5,5, 99);
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1rem;
    list-style-type: none;
}

#menu {
    font-size: 1.3rem;
    border: 1 px solid black;
    padding: 5px;
    background: white;
    color: black;
    position: fixed;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
}


#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}



nav a:hover {
    background-color: rgb(209, 209, 240);
}

.open a {
    display: block;
}

/* wayfinding */
.active::before {
    content: "🔹";
}

}