:root {
    --text: #008bee;
    --background: #eee;
    --border: rgb(113, 112, 112)

}

header {
    background: rgb(58, 120, 58);
    text-align: center;
    
}
header img {
    height: 80px;
    width: auto;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 10px;
    justify-content: space-evenly;
    list-style: none;
    background: rgb(5,5, 99);
    margin: 0 auto;
    font-size: 2rem;
}

nav a {
    color: var(--text);
}

.formbuild fieldset {
    margin: 2rem;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: .5rem 2%
}

.formbuild legend {
    color: var(--text);
    padding: 0 .5rem;
}

.formbuild label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.formbuild div {
    padding-top: 1rem;
    color: var(--text);
    font-size: .9rem;
}

.formbuild input[type="text"],
.formbuild input[type="password"],
.formbuild input[type="email"],
.formbuild input[type="range"] {
    display: block;
    border: solid 1px var(--border);
    border-radius: 6px;
    background-color: var(--background);
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

.formbuild input[type=submit] {
    background-image: linear-gradient(blue, rgb(119, 119, 244));
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1 rem 2% 2rem 2%;
}

.formbuild input:required {
    border-right: solid 8px red;
}

.formbuild input:required:valid {
    border-right: solid 8px green;
}

